body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #E4E978;
}

.article {
    padding: 5px 15px;

    font-style: bold;
    color: #000000;
    background-color: #F2F4C0;
    border: 1px solid #d2ad7d;
    width: 710px;
    margin: 15px 10px;
}

.article h1 {
    color: #000000;
    font-size: 24px;
    font-weight: bolder;
}

.comment-section {
    margin-top: 20px;
}

.comment {
    font-style: italic;
    color: #427053;
    background-color: #F2F4C0;
    border: 1px solid #b2ad7d;
    padding: 5px 15px;
    margin: 15px 10px;
}
